*{
    box-sizing: border-box;
  }
  
  body{
    background : #36353a;
  } 

  .aside{
    width: 150px;
    height : 200vh;
    top: 0;
    left : 0;
    background-color:#282d32;
    position : absolute;
  }
  
  .content{
    margin-left : 150px;
    padding : 10px;
  }
  
  .logo
  {
    text-align: center;
  }
  
  
  .logo > p{
    font-size: 32px;
    color: #4cb480;
    text-transform: uppercase;
    word-wrap: break-word;
  }
  
  .logo > p:after{
    display:block;
    content:"";
    width: 50px;
    height: 4px;
    background: #4cb480;
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
  } 

  .content > p:before{
    display:block;
    content:"";
    width: 50px;
    height: 4px;
    background: #4cb480;
    position:absolute;
  } 
  .content
  {
    text-align: center;
    margin-top: 50px;
  }

  .content > p{
    text-align: left;
    font-size: 40px;
    color: #fdfdfb;
    text-transform: uppercase;
    word-wrap: break-word;
    margin-left: 100px;
  }

  .subtitle > p{
    text-align: left;
    font-size: 30px;
    color: #fdfdfb;
    text-transform: uppercase;
    word-wrap: break-word;
    margin-left: 100px;
  }
  
  .hamlet
  {
    text-align: left;
    color:#9a9d9f;
    font-size: 20px;
    margin-left: 100px;
    width: 600px;
  }

  .button
  {
    border-radius: 15px;
    background-color: #4cb480;
    color:#fdfdfb;
  }

  .main-button
  {
    margin-right: 860px;
    height: 40px;
    width: 100px;
  }

  .search-icon svg{
    fill:#9a9d9f;
    width: 35px;
  }

  .search-icon 
  {
    padding: 20px 0;
    text-align: center;
  }

  .nav > ul{
    list-style: none;
    text-align: center;
    padding: 20px 0;
    margin: 0;
  }

  .nav > ul a{
    color: #9a9d9f;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
  }

  .nav ul li{
    margin-bottom: 5px;
  }

  .nav::before, .nav::after{
    display: block;
    content: "";
    width: 90px;
    height: 2px;
    background-color:#9a9d9f;
    position: absolute;
    top: o;
    left:  50%;
    transform: translateX(-50%);
  }

  .nav
  {
    position: relative;
  }

  .nav::after{
    top: auto;
    bottom: 0;
    }

    *{
      box-sizing: border-box;
    }
  
    .item-wrapper
    {
        background-color: #ffffff;
        height: 300px;
        margin-top: 70px;
        padding: 15px;
    }

    .item
    {
        width: 200px;
        height: 250px;
        background-color:#f6f6f6;
        position: absolute;
        margin-left: 225px;
    }

    .item2
    {
        margin-left: 460px ;
    }

    .item3
    {
        margin-left: 700px;
    }

    .item-content
    {
        position: absolute;
        text-align: center;
        width: 200px;
    }
    
    .content-text
    {
        color: #353a3f;
    }

    .item-button
    {
      margin-top: 200px;
    }
